@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --font1:'Baloo Bhai 2', cursive;
    --font2: 'Roboto', sans-serif;
    --color-b:  black;
    --color-w: white;
    --color-r: rgba(255, 0, 0, 0.8);
}
.font1-h{
    font-family: var(--font1);
}

.font2-h{
    font-family: var(--font2);
}

.max-width-1-h{
    max-width: 90vw;
}

.max-width-2-h{
    max-width: 60vw;
}

.m-auto-h{
    margin: auto;
}

.my-2-h{
    margin-bottom: 32px;
    margin-top: 32px;
}
.mx-2-h{
    margin-left: 10px;
    margin-right: 10px;
}
.btn-h{
    font-family: var(--font1);
    background-color: var(--color-w);
    padding: 0px 15px;
    border: 2px solid var(--color-b);
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.form-input-h{
    padding: 8 15px;
    font-size: 16px;
    border: 2px solid var(--color-b);
    border-radius: 4px;
    margin: 0 13px;
    font-family: var(--font1);
}
.center-h{
    text-align: center;
}
.h-primary-h{
    font-family: var(--font1);
}
.p-primary-h{
    font-family: var(--font2);
}
.my-1-h{
    margin-top: 20px;
    margin-bottom: 20px;
}
.h-secondary-h{
    font-family: var(--font2);
}
.mx-2-h{
    margin-left: 20px;
}
.a-primary-h{
    font-weight: bold;
    cursor: pointer;
    color: var(--color-w);
    padding: 2px 12px;
    margin: 10px;
    text-decoration: none;
}
.a-primary-h:hover{
    color: var(--color-r);
}
.a-secondary-h{
    text-decoration: none;
}
.list-primary-h{
    list-style: none;
}
.btn-h{
    font-family: var(--font1);
    border-radius: 4px;
    padding: 3px 12px;
    margin: 5px 5px;
    
}
.btn-h:hover{
    border: 2px solid var(--color-w);
    color: var(--color-w);
    background-color: var(--color-b);
}
.search-h{
    border: 0px;
    font-family: var(--font1);
    border-radius: 4px;
    padding: 3px 12px;

}
.m-top-h{
    margin-top: 10px;
}
.btn-secondary-h{
    font-family: var(--font1);
    color: var(--color-b);
    border: 4px solid var(--color-b);
    border-radius: 4px;
    padding: 3px 12px;
    margin: 5px 5px;

}
.btn-secondary-h:hover{
    transition: all 0.3s ease-in-out;
    background-color: var(--color-r);
    text-decoration: none;
    color:var(--color-b);
    border-radius: 4px;
    padding-right: 50px;
    margin: 5px 5px;

}
.icons-h{
    filter:  brightness(0) invert(1);
}
.icons-h:hover{
    filter: none;
    transition: all 0.3s ease-in-out;
}
.btn-primary-h{
    font-family: var(--font1);
    color: var(--color-b);
    border-radius: 4px;
    padding: 3px 12px;
    margin: 5px 5px;
    border: 1px solid black;
}
.search-h-1{
    border: 1px solid black;
    font-family: var(--font1);
    border-radius: 4px;
    padding: 3px 12px;

}
.btn-primary-h:hover{
    transition: all 0.3s ease-in-out;
    background-color: var(--color-r);
    text-decoration: none;
    color:var(--color-b);
    border-radius: 4px;
    padding-right: 50px;
    margin: 5px 5px;
}
.color-red{
    color: red;
}
.color-red:hover{
    cursor: pointer;
    transition: all 1s ease-in-out;
    color: white;

}
.color-black{
    color: black;
}
.active-h{
    color: red;
}